body{
    margin: 0;
    display: flex;
    flex-direction: column;

    gap: 100px;
}


header{
    display: flex;
    background-color: black;
  

    width: 100%;
    height: 80px;

    flex-direction: column;
   
}

.content{
    display: flex;
    width: 92%;
    justify-content: space-between;
    margin-right:auto;
    margin-left: auto;
    
}

.content-menu{
    display: flex;
    justify-content: space-evenly;

    width: 55%;
  
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    


}
/*бургер меню*/

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FFF;
}

.burger.active span { 
    transform: scale(0); 
}

.burger::before, .burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFF;
    transition: all 0.3s ease 0s;
}

.burger::before{
    top: 0;
}

.burger::after{
    bottom: 0;
}

/*анимация бургер-меню*/



.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);

}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}





.content-menu a{
    display: flex;
    text-decoration: none;
    color: white;
    list-style: none;


    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    


}

article{
    display: flex;
    justify-content: center;
    
}

.category_of_books{
    display: flex;
    max-width: 80%;
    width: 100%;


    flex-direction: column;
    
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.category_of_books-back{
    display: flex;
    width: auto;
    height: 30px;
    align-items: center;
    gap: 9px;

}

.text{
    display: flex;
    justify-content:center ;
    margin-top: 52px;
    margin-bottom: 52px;
}


h1{
    width: 70px;
}

.contein{
    display: flex;
    justify-content: center;
    margin-top: 52px;
    
}

.labl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    width: 100%;
    gap: 40px;
    justify-content: center;
}

.one_labl{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 304px;
    height: 64px;
    background-color: black;
    color: #FFF;

}

footer{
    display: flex;
    width: 100%;
    background-color: black;
}
.footer_all-content{
    display: flex;
    width: 100%;

}

.footer_all-content__two{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.book_pic{
    max-height: 100%;
    height: 80%;
    margin-top: 30px;
    
}

.__info{
    width: 100%;
}

.__info p, h4{
    color: #FFF;
}
.footer_all-content__many{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 70%;
}

.info__content{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.logo{
    max-width: 150px;
}

.footer_all-content__many hr{
    width: 100%;

}
.card-one{
    width: 14%s;
}

.card-one__links{
    display: flex;
    width: 100%;
    justify-content: end;

}

.link{
    width: 100px;
}