.post{
    display: flex;
    width: 50%;

    height: 90%;
    max-height: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.post-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 90%;
}

.post img {
    max-width: 100%;
    width: 60%;
    height: auto;

    margin: auto;
}

.main_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.opisanie{
    text-align: center;
}

.container_position-post{
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    margin-top: 50px;
}

@media (max-width: 770px) {
    .post{
        width: 95%;
    }

}