.container-cart {
    font-family: Inter;
    color: #000;
    width: 80%;
    height: 60%;
    margin: 60px auto 0px auto;
}

.arrow-icon {
    height: 29px;
    width: 29px;
}

.cart-head {
    height: 110px;
    width: 100%;
}

.cart-table {
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 100%;
}

.back-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;

    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
    color: #000;
}

.cart-title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;

    margin-top: 16px;
}

.image__empty {
    width: 500px;
    height: 500px;
}

.table-cart__skeleton,
.table-head,
.table-content {
    width: 100%;
}

.table-cart__skeleton {
    height: 550px;
}

.table-head {
    height: 60px;
    background-color: #e6e6e6;
    border: 2px solid black;
    box-sizing: border-box;
}

.table-content {
    height: calc(100% - 60px);
    background-color: #fff;
    box-sizing: border-box;

    border: 2px solid black;
    border-top: none;
}