.container-cart {
    font-family: Inter;
    color: #000;
    width: 80%;
    height: 60%;
    margin: 60px auto 0px auto;
}

.arrow-icon {
    height: 29px;
    width: 29px;
}

.cart-head {
    height: 110px;
    width: 100%;
}

.cart-table {
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 100%;
}

.back-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;

    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
    color: #000;
}

.cart-title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;

    margin-top: 16px;
}

.image__empty {
    width: 500px;
    height: 500px;
}

.table-cart__skeleton,
.table-head,
.table-content {
    width: 100%;
}

.table-cart__skeleton {
    height: 550px;
}

.table-head {
    height: 60px;
    background-color: #e6e6e6;
    border: 2px solid black;
    box-sizing: border-box;
}

.table-bottom {
    height: 60px;
    background-color: #e6e6e6;
    border: 2px solid black;
    box-sizing: border-box;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.table-content {
    height: calc(100% - 120px);
    background-color: #fff;
    box-sizing: border-box;

    border-left: 2px solid black;
    border-right: 2px solid black;

    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.cart-row {
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 160px auto 100px 150px 150px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.cart-row-image {
    height: 140px;
    width: 90px;
    object-fit: cover;
}

.cart-row-item {
    padding-top: 10px;
}

.cart-row-quantity {
    display: flex;
    justify-content: center;
    height: 50px;
}

.quantity-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 16px;
}

.quantity-button {
    outline: none;
    border: none;
    background-color: #e6e6e6;
    width: 30px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    height: 100%;
}

.quantity-button:active {
    background-color: #c7c6c6;
}

.cart-row-title {
    font-weight: 700;
    font-size: 18px;
}

.cart-row-total {
    text-align: right;
}

.button__town {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 80%;
    max-width: 250px;

    height: 50px;

    background-color: #000;
    text-decoration: none;
    color: #fff;

    border-radius: 5px;
}

@media (max-width: 900px) {
    .container-cart {
        width: 95%;
        height: 50px;
        margin-top: 20px;
    }

    .table-head {
        height: 30px;
    }

    .table-cart__skeleton {
        height: 450px;
    }

    .table-content {
        height: calc(100% - 90px);
    }
}


@media (max-width: 770px) {
    .cart-row-image {
        display: none;
    }

    .cart-row {
        display: grid;
        grid-template-columns: auto 60px 100px 60px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .cart-row-price__once {
        text-align: center;
    }

    .quantity-counter {
        width: 70px
    }
}

@media (max-width: 450px) {
    .table-bottom {
        justify-content: center;
        padding: 0;
    }

    .image__empty {
        width: 100%;
    }
}