.content{
    display: flex;
    width: 92%;
    justify-content: space-evenly;
    margin-right:auto;
    margin-left: auto;
    margin: auto;
}

.container-hp{
    width: 80%;
    margin: 0 auto;

}

.welcome-post{
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 750px;

    margin-top: 20px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.welcome-post__content{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.welcome-post__content h1{
    font-size: 60px;
}

.welcome-post__content p{
    font-size: 36px;
}

.welcome-post__content button{
    width: 250px;
    height: 70px;
    border-radius: 43px;

    font-size: 20px;
    margin-top: 30px;
}

.category__h{
    text-align: start;
    margin-left: 100px;
}

.category__cards{
    display: flex;
    flex-flow: row wrap;

    width: 30%;
}

.__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    
}

.__card img{
    max-width: 100%;
    height: 90%;

    width: 100%;
}

/*главный слайдер*/

.popular h2{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.scroll{
    max-width: 1515px;
    width: 95%;
}

.slider-wrap .image-list{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 18px;
    align-items: end;
    font-size: 0;
    overflow-x:scroll;
    scroll-behavior: smooth;
   
    margin-bottom: 30px;
}

.slider-wrap{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0.71%, rgba(97, 91, 91, 0.24) 100%);
}

.slider-wrap .image-list::-webkit-scrollbar{
    display: none;
}

.scroll .slider-scrollbar{
    display: flex;
    height: 24px;
    width: 100%;

    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background-color: #cfcfcf;
    position: relative;
    border-radius: 4px;

}

.slider-scrollbar .scrollbar-thumb{
    height: 100%;
    width: 50%;
    background-color: #000000;
    position: absolute;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb:active{
    height: 4px;
    cursor: grabbing;
    height: 8px;
    top: -2px;
}



.slider-wrap .slide-button{
    position: absolute;

    height: 50px;
    width: 50px;
    color: #FFF;
    background-color: #000000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;

    top: 50%;

    transform: translateY(-50%);
}

.slider-wrap .slide-button#prev-slide{
    left: -20px;
}

.slider-wrap .slide-button#next-slide{
    right: -20px;
}

.slider-wrap{
    position: relative;
}

.slider-wrap .slide-button:hover{
    background-color: rgb(52, 50, 50);

}

.image-list img{
    transition: 1s;
}

.image-list img:hover{
    transform: scale(1.1);
}

/*новость из блога*/

article{
    display: flex;
    min-height: 80vh;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    text-align: start;
}


.blog{
    width: 80%;
    background-color: #F4F4F4;
}

.blog_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
}

.blog_content img{
    max-width: 100%;
    height: auto;

    width: 40%;
}

.blog_content-text{
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 0;
}

.blog_content-text_data{
    text-align: start;
}

.blog_content-text_l{
    text-align: end;
    width: 150px;
}

.blog_content-text_l-p{
    
    border-left: 1px solid black;

}

.blog_content-text_data{
    color: #000;

    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.blog_content-text_hader h1{
    font-family: 'Caveat';
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog_content-text_hader h2{
    font-family: Anonymous Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


/*фантастика*/

.container-scroll{
    display: grid;
    grid-auto-flow: column;
    grid-gap: calc(15px / 2);

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 15px;
}

.card {
    scroll-snap-align: start;
}

.container-scroll_slider-wrap .image-list_two{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 18px;
    align-items: end;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}

.image-list_two img{
    width: 263px;
    height: 367px;
    object-fit: cover;
}


.container-scroll_slider-wrap .image-list_two::-webkit-scrollbar{
    display: none;
}

.container-scroll_slider-wrap .slide-buttonn{
    position: absolute;

    height: 50px;
    width: 50px;
    color: #FFF;
    background-color: #000000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;

    top: 50%;

    transform: translateY(-50%);
}

.container-scroll_slider-wrap .slide-buttonn#prev-slides{
    left: -20px;
}

.container-scroll_slider-wrap .slide-buttonn#next-slides{
    right: -20px;
}

.container-scroll_slider-wrap{
    position: relative;
}

.container-scroll_slider-wrap .slide-buttonn:hover{
    background-color: rgb(52, 50, 50);
}

.card-buttons button:hover{
    background-color: #000000 !important;
    color: white;
    cursor: pointer;
    border: none;
}


/*зарубежная литература*/

.container-scroll_two{
    max-width: 1515px;
    width: 95%;
}

.container-scroll_slider-wrapp .image-list_three{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 18px;
    align-items: end;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}

.image-list_three img{
    width: 263px;
    height: 367px;
    object-fit: cover;
}

.container-scroll_slider-wrapp .image-list_three::-webkit-scrollbar{
    display: none;
}

.container-scroll_slider-wrapp .slide-buttonnn{
    position: absolute;

    height: 50px;
    width: 50px;
    color: #FFF;
    background-color: #000000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;

    top: 50%;

    transform: translateY(-50%);
}

.container-scroll_slider-wrapp .slide-buttonnn#prev-slides_two{
    left: -20px;
}

.container-scroll_slider-wrapp .slide-buttonnn#next-slides_two{
    right: -20px;
}

.container-scroll_slider-wrapp{
    position: relative;
}

.container-scroll_slider-wrapp .slide-buttonnn:hover{
    background-color: rgb(52, 50, 50);
}

.popular{
    margin-top: 100px;
}

.card{
    display: flex;
    width: inherit;
    height: inherit;
    padding: 10px;
    font-size: large;
    flex-direction: column;
    gap: 10px;
    background-color: #FFF;
    border: 1px solid black;
}

.card .card-buttons button{
    width: 45%;
    height: 50px;
    font-size: large;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 10px;
}

.card-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    background-color: #000;
    width: 100%;
    height: 500px;
    margin-top: 200px;
}



@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}


@media (max-width: 980px) {
    .blog_content{
        display: flex;
        flex-wrap: wrap;
    }

    .blog_content-text{
        width: 100%;
    }

    .blog_content img{
        margin: auto;
        width: 100%;
    }

    .blog_content-text_hader h1{
        font-size: 60px;
    }
}


@media (max-width: 770px) {
    .scroll{
        max-width: 400px;
        
    }

    .popular{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-scroll{
        max-width: 400px; 
    }

    .container-scroll_two{
        max-width: 400px;
    }

}