.form__register{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 33px;
}

.container_register{
    display: flex;
    width: 400px;
    height: 450px;
    flex-direction: column;

    gap: 33px;
    text-align: center;
}
